/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 9, 2022, 7:21:54 PM
    Author     : Slade
*/
  /* The margin between the buttons */
.bottom-form-button {
      margin-left: 15px;
  }
  
  /* Red Asterik for First name text box. */
  .required:after {
    content:" *";
    color: red;
    margin-right: 5px;
  }
  
  
.inactive-link {
   cursor: default;
}
.bootstrap-select > .dropdown-toggle{
    border-radius: 5px 0px 0px 5px;
    border: 1px solid #ced4da;
} 


