/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 21, 2022, 11:44:47 PM
    Author     : karee
*/
.page-title{
    display: inline-block;
}
.filter-btn{
    margin-bottom: 7px;
    margin-left: 10px;
}

.card{ 
    height: 480px;
    display: flex;
    flex-flow: column nowrap;
}
.card-body{
    overflow: hidden;
    width: 100%;
    height:30%;
}
#cell{
    padding: 20px;   
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
#usercardname{
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
}
#cardmidsection{
    overflow: hidden; 
    display: -webkit-box; 
    text-overflow: ellipsis; 
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
}
.bootstrap-select > .dropdown-toggle{
    border: 1px solid #ced4da;
} 


.content {
  left: 80px;
  visibility: hidden;
  background-color: #bfbfbf;
  position: fixed;
  padding: 10px;
  border-radius: 10px;
}

.content:before {
  position: absolute;
  top: -10px;
  content: "";
  right: calc(50% - 10px);
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #bfbfbf transparent;
}

.wrapper:hover .content {
  visibility: visible;
}

.trigger{
    margin-bottom: 5px;
}

.wrapper {
  position: relative;
}

.popover-list{
    margin: 0px;
    padding-left: 18px;
}
.tag{
    background: royalblue;
    border-radius: 4px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
}
.card-owner-section{
    margin-bottom: 8px;
}
.back-btn{
    float: left; 
    border-radius: 25%; 
    padding: 2px 10px; 
    background-color: darkgray; 
    margin-left: 20px;
}
