/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 30, 2022, 5:06:27 PM
    Author     : karee
*/

.bi-hr{
    display: inline-block;
    width: 300px;
    padding-bottom: 2px;
    margin-bottom: 0px;
}
.empty-block{
    padding: 20px;
    background-color: lightblue;
}
.inactive-link {
   cursor: default;
}
.bootstrap-select > .dropdown-toggle{
    border: 1px solid #ced4da;
}
/* Red Asterisk for text boxes. */
.required:after {
  content:" *";
  color: red;
  margin-right: 5px;
}
.curved-input{
    border-radius: 5px !important;
}
.columbarium-ul{
    padding-top: 8px;
}
.add-row{
    padding-left: 15px;
}
.edit-btn{
    margin-left: 15px;
}