/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 27, 2022, 4:39:42 PM
    Author     : karee
*/
.bootstrap-select > .dropdown-toggle{
    border-radius: 5px 0px 0px 5px;
    border: 1px solid #ced4da;
} 
